* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  user-select: none;
  outline: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
}

a {
  color: inherit;
}

button,
select {
  cursor: pointer;
}

.container {
  width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

.container-fluid {
  max-width: 1420px;
  margin: 0 auto;
}

/* ===== top-bar ===== */
.top-bar {
  background-color: rgba(67, 80, 114, 1);
}

/* top-bar inner */
.top-bar__inner {
  height: 65px;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 25px;
}

/* general */
.top-bar__address,
.top-bar__phones,
.top-bar__mail,
.top-bar__social,
.top-bar__rate,
.top-bar__language {
  display: flex;
  align-items: center;

  font-size: 13px;
}

/* address */
.top-bar__address {
  gap: 0 8px;
}

/* phones, mail. */
.top-bar__phones,
.top-bar__mail {
  gap: 10px;
}

/* social */
.top-bar__social {
  gap: 5px;
}

.top-bar__social a {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(215, 215, 215, 1);
  border-radius: 2px;
}

/* rate */
.top-bar__rate {
  gap: 0 6px;
}

.top-bar__rate .date {
  font-size: 14px;
  font-weight: 700;
}

.top-bar__rate select {
  padding: 10px;
  background-color: transparent;
  border-color: rgba(215, 215, 215, 1);
  border-radius: 4px;
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
}

/* rate, language */
.top-bar__rate option,
.top-bar__language option {
  background-color: rgba(67, 80, 114, 1);
}

/* language */
.top-bar__language select {
  border: none;
  background-color: transparent;
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  font-weight: 700;
}

/* ===== main menu ===== */
.main-menu__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 110px;
}

/* nav */
.main-menu__nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 40px;
}

.main-menu__link {
  color: rgba(67, 80, 114, 1);
  font-weight: 700;
  position: relative;
}

.main-menu__link::before {
  content: "";
  display: inline-block;

  /* method 1 */
  /* background: linear-gradient(
    225deg,
    rgba(255, 255, 255) 50%,
    rgba(67, 80, 114, 1) 50%
  );
  width: 8px;
  height: 8px;
  transform: rotate(225deg); */

  /* method 2 */
  width: 0px;
  height: 0px;
  background-color: transparent;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid rgba(67, 80, 114, 1);
  transform: rotate(90deg);

  position: absolute;
  left: -18px;
  top: calc(50% - 5px);
}

/* search-btn */
.search-btn {
  background-color: transparent;
  border: none;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-btn:hover {
  background-color: rgba(233, 233, 233, 0.6);
}

.search-btn:active {
  background-color: rgba(233, 233, 233, 1);
}

/* ===== hero ===== */
.hero {
  background: url("../images/bc-hero.jpg") center no-repeat;
  background-size: cover;
}

.hero__content {
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 50px;
}

.hero__title {
  width: 597px;
  font-size: 42px;
  line-height: 52px;
  color: rgba(67, 80, 114, 1);
}

.hero-btn {
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  color: rgba(67, 80, 114, 1);
  padding: 10px 45px 10px 28px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 12px;
  border: 0.5px solid rgba(67, 80, 114, 1);
  outline: 3px solid rgba(255, 255, 255, 1);
}

.hero-btn::after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("../images/double-arrow.png") center no-repeat;
  background-size: contain;
  position: relative;
  top: calc(50% - 10px);
  padding-left: 8px;
}

/* about */
.about {
  background-image: linear-gradient(rgba(28, 37, 61, 0.8)),
    url("../images/about-bc.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.about__content {
  height: 677px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about__title {
  font-size: 40px;
  margin: 48px 0 34px;
}

.about__text {
  width: 1132px;
  text-align: justify;
  font-size: 20px;
  line-height: 36px;
}

/* about button */
.about__btn {
  display: block;
  margin-top: 48px;
  padding: 15px 94px 15px 45px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 6px;
  font-size: 18px;
  line-height: 20px;
  color: rgba(67, 80, 114, 1);
  position: relative;
}

.about__btn::after {
  content: "";
  display: inline-block;
  width: 15px;
  height: 13.2px;
  background: url("../images/arrow.png") center no-repeat;
  background-size: contain;
  position: absolute;
  top: calc(50% - (13.2px / 2));
  right: 45px;
}

/* ===== partners ====== */
.partners__content {
  padding: 100px 0 77px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 154px;
}

.partners__title {
  font-size: 40px;
  color: rgba(67, 80, 114, 1);
}

.partners__list {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(2, auto);
  gap: 40px 80px;
}

/* ===== products ===== */
.products {
  background-image: linear-gradient(rgba(28, 37, 61, 0.8)),
    url("../images/products-bc.jpg");
}

.products__title {
  font-size: 40px;
  padding: 60px 0;
  text-align: center;
}

/* list */
.products__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* all items */
.products__item img {
  border-radius: 20px;
  width: 100%;
  display: block;
}

/* item 1 */
.products__item:nth-child(1) {
  width: 290px;
}

/* item 2 */
.products__item:nth-child(2) {
  width: 520px;
}

/* item 3 */
.products__item:nth-child(3) {
  width: 290px;
}

.products__bottom {
  padding: 31px 0 74px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px 0;
}

.products__product-name {
  font-size: 24px;
}

.products__product-desc {
  font-size: 18px;
  line-height: 24px;
  width: 497px;
}

/* ===== services ===== */
.services {
  background-image: linear-gradient(rgba(251, 251, 251, 0.1)),
    url("../images/services-bc.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  padding: 75px 0 80px;
}

/* label */
.services__label {
  display: flex;
  align-items: center;
  gap: 0 6px;
}

.services__label p {
  color: rgba(96, 111, 132, 1);
  font-size: 20px;
}

/* title */
.services__title {
  color: rgba(67, 80, 114, 1);
  font-size: 40px;
  margin: 35px 0 50px;
}

/* list */
.services__list {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  gap: 25px 20px;
}

/* card */
.card {
  padding: 20px 20px 20px 30px;
  width: 400px;
  height: 250px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 4px 8px 0px rgba(27, 50, 77, 0.1);
  border-radius: 16px;
  transition: all 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card:hover {
  position: relative;
  top: -6px;
  border-bottom: 12px solid rgba(67, 80, 114, 1);
}

.card__img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: rgba(67, 80, 114, 0.082);
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__title {
  font-size: 20px;
  color: rgba(67, 80, 114, 1);
  height: 60px;
}

.card__text {
  font-size: 14px;
  line-height: 20px;
  color: rgba(96, 111, 132, 1);
}

/* ===== brands ===== */
.brands {
  background-image: linear-gradient(rgba(28, 37, 61, 0.8)),
    url("../images/brands-bc.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.brands__content {
  padding: 70px 0 80px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

/* title */
.brands__title {
  font-size: 40px;
}

/* list */
.brands__list {
  display: flex;
  align-items: center;
  gap: 0 36px;
}

/* list items */
.brands__items {
  width: 257px;
  height: 84px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ===== gallery ===== */
.gallery__content {
  padding: 70px 0 116px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 63px 0;
}

/* title */
.gallery__title {
  color: rgba(67, 80, 114, 1);
  font-size: 40px;
}

/* list */
.gallery__list {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0 18px;
}

/* list item */
.gallery__item {
  width: 270px;
  height: 270px;
  overflow: hidden;
}

/* images */
.gallery__img {
  width: 100%;
  object-fit: cover;
}

/* ===== cta ===== */
.cta {
  background-image: linear-gradient(rgba(251, 251, 251, 0.1)),
    url("../images/cta-bc.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cta__content {
  padding: 62px 0 53px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* title */
.cta__title {
  color: rgba(67, 80, 114, 1);
  font-size: 42px;
  line-height: 57px;
}

/* description */
.cta__desc {
  color: rgba(67, 80, 114, 1);
  font-size: 20px;
  line-height: 32px;
  margin: 19px 0 41px;
}

/* form */
.cta__form {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(4, auto);
  gap: 15px 22px;
}

/* general styles for form elements */
.cta input,
.cta textarea {
  height: 210px;
  width: 400px;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid rgba(211, 220, 233, 1);
  background-color: rgba(243, 243, 243, 1);
}

.cta input::placeholder {
  /* For most modern browsers (Chrome, Firefox, Opera, Safari) */
  color: rgba(122, 139, 163, 1);
}

.cta input::-webkit-input-placeholder {
  /* For older Webkit-based browsers (e.g., older Safari) */
  color: rgba(122, 139, 163, 1);
}

.cta input:-ms-input-placeholder {
  /* For Internet Explorer 10-11 */
  color: rgba(122, 139, 163, 1);
}

.cta input::-ms-input-placeholder {
  /* For Microsoft Edge */
  color: rgba(122, 139, 163, 1);
}

.cta textarea::placeholder {
  /* For most modern browsers (Chrome, Firefox, Opera, Safari) */
  color: rgba(122, 139, 163, 1);
}

.cta textarea::-webkit-input-placeholder {
  /* For older Webkit-based browsers (e.g., older Safari) */
  color: rgba(122, 139, 163, 1);
}

.cta textarea:-ms-input-placeholder {
  /* For Internet Explorer 10-11 */
  color: rgba(122, 139, 163, 1);
}

.cta textarea::-ms-input-placeholder {
  /* For Microsoft Edge */
  color: rgba(122, 139, 163, 1);
}

.cta input {
  height: 60px;
}

/* name and surname */
.cta__name-surname {
  grid-area: 1 / 1 / 2 / 2;
}

/* email */
.cta__email {
  grid-area: 2/ 1 / 3 / 2;
}

/* tel */
.cta__tel {
  grid-area: 3/ 1 / 4 / 2;
}

/* message box */
.cta__message {
  resize: none;
  grid-area: 1/ 2 / 4 / 3;
}

/* button */
.cta__btn {
  margin-top: 48px;
  background-color: rgba(67, 80, 114, 1);
  border: none;
  border-radius: 6px;
  width: 189px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 15px;
  font-size: 18px;
  line-height: 20px;
  color: rgba(255, 255, 255, 1);

  grid-area: 4/ 1 / 5 / 3;
  justify-self: center;
}

.cta__btn::after {
  content: "";
  display: inline-block;
  width: 15px;
  height: 13.13px;
  background: url("../images/arrow-white.png") center no-repeat;
  background-size: cover;
}

/* ===== footer ===== */
footer {
  background-image: linear-gradient(rgba(28, 37, 61, 0.8)),
    url("../images/footer-bc.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* footer content*/
.footer__content {
  padding: 64px 0 41px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

/* brand */
.footer__brand {
  width: 310px;
  display: flex;
  flex-direction: column;
  gap: 125px 0;
}

/* social */
.footer__social {
  display: flex;
  align-items: center;
  gap: 0 16px;
}

.footer__social-link {
  width: 36px;
  height: 36px;
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* nav */
.footer__nav {
  width: 241px;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
  gap: 32px 0;
}

/* ! nav title & contact title */
.footer__nav-title,
.footer__contact-title {
  font-size: 24px;
}

/* list */
.footer__nav-list {
  display: flex;
  flex-direction: column;
  gap: 20px 0;
}

.footer__nav-item {
  opacity: 0.7;
  position: relative;
}

.footer__nav-item::before {
  content: "";
  display: inline-block;
  width: 0px;
  height: 0px;
  background-color: transparent;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid rgba(196, 200, 210, 1);
  transform: rotate(90deg);

  position: absolute;
  left: -18px;
  top: calc(50% - 4px);
}

/* contact */
.footer__contact {
  padding-left: 53px;
  width: 240px;
}

/* tel */
.footer__tel {
  margin: 23px 0 39px;
}
.footer__tel-title {
  font-size: 18px;
  margin-bottom: 14px;
  height: 22px;
  display: flex;
  align-items: center;
  gap: 0 16px;
}

.footer__tel-title::before {
  content: "";
  display: inline-block;
  width: 22px;
  height: 22px;
  background: url("../images/tel-icon.png") center no-repeat;
  background-image: cover;
}

.footer__tel-numbers {
  color: rgba(255, 255, 255, 0.7);
  display: flex;
  flex-direction: column;
  gap: 8px 0;
}

/* email */
.footer__email {
  display: flex;
  flex-direction: column;
  gap: 11px 0;
}

.footer__email-title {
  font-size: 18px;
  height: 22px;
  display: flex;
  align-items: center;
  gap: 0 16px;
}

.footer__email-title::before {
  content: "";
  display: inline-block;
  width: 22px;
  height: 22px;
  background: url("../images/email-icon-big.png") center no-repeat;
  background-image: cover;
}

.footer__email-link {
  color: rgba(255, 255, 255, 0.7);
}

/* address */
.footer__address {
  margin-top: 47px;
  width: 311px;
  display: flex;
  flex-direction: column;
  gap: 16px 0;
}

.footer__address-title {
  font-size: 18px;
}

.footer__location {
  color: rgba(255, 255, 255, 0.7);
  line-height: 24px;
}

/* footer bottom */
.footer__bottom {
  height: 79px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__copyright,
.footer__dev {
  line-height: 32px;
}
