* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  user-select: none;
  outline: none;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 100%;
  color: rgba(255, 255, 255, 1);
}

a {
  color: inherit;
}

button,
select {
  cursor: pointer;
}

.container {
  width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

.container-fluid {
  max-width: 1420px;
  margin: 0 auto;
}

/* ===== top-bar ===== */
.top-bar {
  background-color: rgba(67, 80, 114, 1);
}

/* top-bar inner */
.top-bar__inner {
  height: 65px;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 25px;
}

/* general */
.top-bar__address,
.top-bar__phones,
.top-bar__mail,
.top-bar__social,
.top-bar__rate,
.top-bar__language {
  display: flex;
  align-items: center;

  font-size: 13px;
}

/* address */
.top-bar__address {
  gap: 0 8px;
}

/* phones, mail. */
.top-bar__phones,
.top-bar__mail {
  gap: 10px;
}

/* social */
.top-bar__social {
  gap: 5px;
}

.top-bar__social a {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(215, 215, 215, 1);
  border-radius: 2px;
}

/* rate */
.top-bar__rate {
  gap: 0 6px;
}

.top-bar__rate .date {
  font-size: 14px;
  font-weight: 700;
}

.top-bar__rate select {
  padding: 10px;
  background-color: transparent;
  border-color: rgba(215, 215, 215, 1);
  border-radius: 4px;
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
}

/* rate, language */
.top-bar__rate option,
.top-bar__language option {
  background-color: rgba(67, 80, 114, 1);
}

/* language */
.top-bar__language select {
  border: none;
  background-color: transparent;
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  font-weight: 700;
}

/* ===== main menu ===== */
.main-menu__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 110px;
}

/* nav */
.main-menu__nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 40px;
}

.main-menu__link {
  color: rgba(67, 80, 114, 1);
  font-weight: 700;
  position: relative;
}

.main-menu__link::before {
  content: "";
  display: inline-block;

  /* method 1 */
  /* background: linear-gradient(
    225deg,
    rgba(255, 255, 255) 50%,
    rgba(67, 80, 114, 1) 50%
  );
  width: 8px;
  height: 8px;
  transform: rotate(225deg); */

  /* method 2 */
  width: 0px;
  height: 0px;
  background-color: transparent;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid rgba(67, 80, 114, 1);
  transform: rotate(90deg);

  position: absolute;
  left: -18px;
  top: calc(50% - 5px);
}

/* search-btn */
.search-btn {
  background-color: transparent;
  border: none;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-btn:hover {
  background-color: rgba(233, 233, 233, 0.6);
}

.search-btn:active {
  background-color: rgba(233, 233, 233, 1);
}

/* ===== hero ===== */
.hero {
  background: url("../images/bc-hero.jpg") center no-repeat;
  background-size: cover;
  height: 600px;
}

.hero__container {
  height: 100%;
}

.hero__content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 50px;
}

.hero__title {
  width: 597px;
  font-size: 42px;
  line-height: 52px;
  color: rgba(67, 80, 114, 1);
}

.hero-btn {
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  color: rgba(67, 80, 114, 1);
  padding: 10px 45px 10px 28px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 12px;
  border: 0.5px solid rgba(67, 80, 114, 1);
  outline: 3px solid rgba(255, 255, 255, 1);
}

.hero-btn::after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("../images/double-arrow.png") center no-repeat;
  background-size: contain;
  position: relative;
  top: calc(50% - 10px);
  padding-left: 8px;
}

/* about */
.about {
  background-image: linear-gradient(rgba(28, 37, 61, 0.8)),
    url("../images/about-bc.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.about__content {
  height: 677px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about__title {
  font-size: 40px;
  margin: 48px 0 34px;
}

.about__text {
  width: 1132px;
  text-align: justify;
  font-size: 20px;
  line-height: 36px;
}

/* about button */
.about__btn {
  display: block;
  margin-top: 48px;
  padding: 15px 94px 15px 45px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 6px;
  font-size: 18px;
  line-height: 20px;
  color: rgba(67, 80, 114, 1);
  position: relative;
}

.about__btn::after {
  content: "";
  display: inline-block;
  width: 15px;
  height: 13.2px;
  background: url("../images/arrow.png") center no-repeat;
  background-size: contain;
  position: absolute;
  top: calc(50% - (13.2px / 2));
  right: 45px;
}

/* ===== partners ====== */
.partners__content {
  padding: 100px 0 77px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 154px;
}

.partners__title {
  font-size: 40px;
  color: rgba(67, 80, 114, 1);
  line-height: 100%;
}

.partners__list {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(2, auto);
  gap: 40px 80px;
}
